[Desktop Entry]
Name=Advanced Network Configuration
Comment=Manage and change your network connection settings
Icon=preferences-system-network
Exec=nm-connection-editor
Terminal=false
StartupNotify=true
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=nm-connection-editor
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;X-GNOME-Utilities;
X-Ubuntu-Gettext-Domain=nm-applet
Name[ar]=التكوين المتقدم للشبكة
GenericName[ar]=التكوين المتقدم للشبكة
Comment[ar]=إدارة وتغيير إعدادات اتصال الشبكة
Name[bg]=Разширена мрежова конфигурация
GenericName[bg]=Разширена мрежова конфигурация
Comment[bg]=Управлявайте и променяйте настройките на вашата мрежова връзка
Name[ca]=Configuració avançada de xarxa
GenericName[ca]=Configuració avançada de xarxa
Comment[ca]=Gestioneu i canvieu la configuració de connexió de xarxa
Name[cs]=Pokročilá konfigurace sítě
GenericName[cs]=Pokročilá konfigurace sítě
Comment[cs]=Spravujte a změňte nastavení připojení sítě
Name[da]=Avanceret netværkskonfiguration
GenericName[da]=Avanceret netværkskonfiguration
Comment[da]=Administrer og skift dine netværksforbindelsesindstillinger
Name[de]=Erweiterte Netzwerkkonfiguration
GenericName[de]=Erweiterte Netzwerkkonfiguration
Comment[de]=Verwalten und ändern Sie Ihre Netzwerkverbindungseinstellungen
Name[el]=Προηγμένη διαμόρφωση δικτύου
GenericName[el]=Προηγμένη διαμόρφωση δικτύου
Comment[el]=Διαχείριση και αλλαγή των ρυθμίσεων σύνδεσης δικτύου
Name[es]=Configuración de red avanzada
GenericName[es]=Configuración de red avanzada
Comment[es]=Administre y cambie la configuración de conexión de su red
Name[et]=Täpsem võrgukonfiguratsioon
GenericName[et]=Täpsem võrgukonfiguratsioon
Comment[et]=Võrguühenduse seadete haldamine ja muutmine
Name[fr]=Configuration réseau avancée
GenericName[fr]=Configuration réseau avancée
Comment[fr]=Gérer et modifier vos paramètres de connexion réseau
Name[gl]=Configuración avanzada de rede
GenericName[gl]=Configuración avanzada de rede
Comment[gl]=Xestiona e cambia a configuración da túa conexión de rede
Name[he]=תצורת רשת מתקדמת
GenericName[he]=תצורת רשת מתקדמת
Comment[he]=נהל ושנה את הגדרות החיבור לרשת שלך
Name[hr]=Napredna konfiguracija mreže
GenericName[hr]=Napredna konfiguracija mreže
Comment[hr]=Upravljajte i mijenjajte postavke mrežne veze
Name[hu]=Speciális hálózati konfiguráció
GenericName[hu]=Speciális hálózati konfiguráció
Comment[hu]=Kezelje és módosítsa a hálózati kapcsolat beállításait
Name[it]=Configurazione di rete avanzata
GenericName[it]=Configurazione di rete avanzata
Comment[it]=Gestisci e modifica le impostazioni della connessione di rete
Name[ja]=高度なネットワーク構成
GenericName[ja]=高度なネットワーク構成
Comment[ja]=ネットワーク接続設定を管理および変更する
GenericName[lt]=Išplėstinė tinklo konfigūracija
Name[lt]=Išplėstinė tinklo konfigūracija
Comment[lt]=Tvarkykite ir keiskite tinklo ryšio nustatymus
Name[nl]=Geavanceerde netwerkconfiguratie
GenericName[nl]=Geavanceerde netwerkconfiguratie
Comment[nl]=Beheer en wijzig uw netwerkverbindingsinstellingen
GenericName[pl]=Zaawansowana konfiguracja sieci
Name[pl]=Zaawansowana konfiguracja sieci
Comment[pl]=Zarządzaj i zmieniaj ustawienia połączenia sieciowego
Name[pt]=Configuração de rede avançada
GenericName[pt]=Configuração de rede avançada
Comment[pt]=Gerencie e altere suas configurações de conexão de rede
Name[ru]=Расширенная конфигурация сети
GenericName[ru]=Расширенная конфигурация сети
Comment[ru]=Управление и изменение настроек сетевого подключения
Name[tr]=Gelişmiş Ağ Yapılandırması
GenericName[tr]=Gelişmiş Ağ Yapılandırması
Comment[tr]=Ağ bağlantısı ayarlarınızı yönetin ve değiştirin
Name[zh_CN]=高级网络配置
GenericName[zh_CN]=高级网络配置
Comment[zh_CN]=管理和更改您的网络连接设置
Name[zh_TW]=高級網絡配置
GenericName[zh_TW]=高級網絡配置
Comment[zh_TW]=管理和更改您的網絡連接設置
