[Desktop Entry]
Name=Software Sources
GenericName=Software Sources
Comment=Configure the sources for installable software and updates
Exec=lxqt-sudo software-properties-qt
Icon=applications-other
OnlyShowIn=LXQt;
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=System;Settings;
MimeType=text/x-apt-sources-list;
X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=software-properties

Name[ar]=مصادر البرمجيات
GenericName[ar]=مصادر البرمجيات
Comment[ar]=تكوين مصادر البرامج والتحديثات القابلة للتثبيت
Name[bg]=Източници на софтуер
GenericName[bg]=Източници на софтуер
Comment[bg]=Конфигурирайте източниците за инсталиране на софтуер и актуализации
Name[ca]=Fonts de programari
GenericName[ca]=Fonts de programari
Comment[ca]=Configureu les fonts per al programari instal·lable i les actualitzacions
Name[cs]=Zdroje softwaru
GenericName[cs]=Zdroje softwaru
Comment[cs]=Nakonfigurujte zdroje pro instalovatelný software a aktualizace
Name[da]=Software kilder
GenericName[da]=Software kilder
Comment[da]=Konfigurer kilderne til installerbar software og opdateringer
Name[de]=Softwarequellen
GenericName[de]=Softwarequellen
Comment[de]=Konfigurieren Sie die Quellen für installierbare Software und Updates
Name[el]=Πηγές λογισμικού
GenericName[el]=Πηγές λογισμικού
Comment[el]=Διαμορφώστε τις πηγές για λογισμικό με δυνατότητα εγκατάστασης και ενημερώσεις
Name[es]=Fuentes de software
GenericName[es]=Fuentes de software
Comment[es]=Configure las fuentes para el software y las actualizaciones
Name[et]=Tarkvara allikad
GenericName[et]=Tarkvara allikad
Comment[et]=Konfigureerige installitava tarkvara ja värskenduste allikad
Name[fr]=Sources de logiciels
GenericName[fr]=Sources de logiciels
Comment[fr]=Configurer les sources des logiciels installables et des mises à jour
Name[gl]=Fontes de software
GenericName[gl]=Fontes de software
Comment[gl]=Configure as fontes para o software instalable e as actualizacións
Name[he]=מקורות תוכנה
GenericName[he]=מקורות תוכנה
Comment[he]=הגדר את המקורות לתוכנה ועדכונים הניתנים להתקנה
Name[hr]=Izvori softvera
GenericName[hr]=Izvori softvera
Comment[hr]=Konfigurirajte izvore za instalirani softver i ažuriranja
Name[hu]=Szoftverforrások
GenericName[hu]=Szoftverforrások
Comment[hu]=Konfigurálja a telepíthető szoftverek és frissítések forrásait
Name[it]=Fonti software
GenericName[it]=Fonti software
Comment[it]=Configura le fonti per il software installabile e gli aggiornamenti
Name[ja]=ソフトウェアソース
GenericName[ja]=ソフトウェアソース
Comment[ja]=インストール可能なソフトウェアとアップデートのソースを構成する
GenericName[lt]=Programmatūras avoti
Name[lt]=Programmatūras avoti
Comment[lt]=Konfigūruokite įdiegiamos programinės įrangos ir naujinimų šaltinius
Name[nl]=Softwarebronnen
GenericName[nl]=Softwarebronnen
Comment[nl]=Configureer de bronnen voor installeerbare software en updates
GenericName[pl]=Źródła oprogramowania
Name[pl]=Źródła oprogramowania
Comment[pl]=Skonfiguruj źródła instalowanego oprogramowania i aktualizacji
Name[pt]=Fontes de software
GenericName[pt]=Fontes de software
Comment[pt]=Configure as fontes para software e atualizações instaláveis
Name[ru]=Источники программного обеспечения
GenericName[ru]=Источники программного обеспечения
Comment[ru]=Настройте источники для устанавливаемого программного обеспечения и обновлений
Name[tr]=Yazılım Kaynakları
GenericName[tr]=Yazılım Kaynakları
Comment[tr]=Yüklenebilir yazılımlar ve güncellemeler için kaynakları yapılandırın
Name[zh_CN]=软件源
GenericName[zh_CN]=软件源
Comment[zh_CN]=配置可安装软件和更新的源
Name[zh_TW]=軟件源
GenericName[zh_TW]=軟件源
Comment[zh_TW]=配置可安裝軟件和更新的源
