[Desktop Entry]
Name=Additional Drivers
GenericName=Additional Drivers
Comment=Configure third-party and proprietary drivers
Exec=lxqt-sudo /usr/bin/software-properties-qt --open-tab=4
Icon=jockey
OnlyShowIn=LXQt;
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;System;
Keywords=Drivers;
X-Ubuntu-Gettext-Domain=software-properties

Name[ar]=سائقون اضافيون
GenericName[ar]=سائقون اضافيون
Comment[ar]=تكوين برامج تشغيل الطرف الثالث والملكية
Name[bg]=Допълнителни драйвери
GenericName[bg]=Допълнителни драйвери
Comment[bg]=Конфигурирайте драйвери на трети страни и собствени драйвери
Name[ca]=Controladors addicionals
GenericName[ca]=Controladors addicionals
Comment[ca]=Configura controladors de tercers i propietaris
Name[cs]=Další ovladače
GenericName[cs]=Další ovladače
Comment[cs]=Nakonfigurujte ovladače třetích stran a proprietární ovladače
Name[da]=Yderligere drivere
GenericName[da]=Yderligere drivere
Comment[da]=Konfigurer tredjeparts og proprietære drivere
Name[de]=Zusätzliche Treiber
GenericName[de]=Zusätzliche Treiber
Comment[de]=Konfigurieren Sie Drittanbieter- und proprietäre Treiber
Name[el]=Πρόσθετα προγράμματα οδήγησης
GenericName[el]=Πρόσθετα προγράμματα οδήγησης
Comment[el]=Διαμόρφωση προγραμμάτων οδήγησης τρίτων και αποκλειστικών προγραμμάτων οδήγησης
Name[es]=controladores adicionales
GenericName[es]=controladores adicionales
Comment[es]=Configurar controladores propietarios y de terceros
Name[et]=Täiendavad draiverid
GenericName[et]=Täiendavad draiverid
Comment[et]=Kolmanda osapoole ja patenteeritud draiverite konfigureerimine
Name[fr]=Pilotes supplémentaires
GenericName[fr]=Pilotes supplémentaires
Comment[fr]=Configurer les pilotes tiers et propriétaires
Name[gl]=Controladores adicionais
GenericName[gl]=Controladores adicionais
Comment[gl]=Configura controladores de terceiros e propietarios
Name[he]=נהגים נוספים
GenericName[he]=נהגים נוספים
Comment[he]=הגדר מנהלי התקנים של צד שלישי וקנייניים
Name[hr]=Dodatni upravljački programi
GenericName[hr]=Dodatni upravljački programi
Comment[hr]=Konfigurirajte drajvere treće strane i vlasničke upravljačke programe
Name[hu]=További illesztőprogramok
GenericName[hu]=További illesztőprogramok
Comment[hu]=Konfigurálja a harmadik féltől származó és szabadalmaztatott illesztőprogramokat
Name[it]=guidatori aggiuntivi
GenericName[it]=guidatori aggiuntivi
Comment[it]=Configura driver di terze parti e proprietari
Name[ja]=追加のドライバー
GenericName[ja]=追加のドライバー
Comment[ja]=サードパーティおよび独自のドライバーを構成する
GenericName[lt]=Papildomi vairuotojai
Name[lt]=Papildomi vairuotojai
Comment[lt]=Konfigūruokite trečiųjų šalių ir patentuotas tvarkykles
Name[nl]=Extra stuurprogramma's
GenericName[nl]=Extra stuurprogramma's
Comment[nl]=Configureer stuurprogramma's van derden en eigen stuurprogramma's
GenericName[pl]=dodatkowe sterowniki
Name[pl]=dodatkowe sterowniki
Comment[pl]=Skonfiguruj sterowniki firm trzecich i zastrzeżone
Name[pt]=Drivers adicionais
GenericName[pt]=Drivers adicionais
Comment[pt]=Configurar drivers de terceiros e proprietários
Name[ru]=Дополнительные драйверы
GenericName[ru]=Дополнительные драйверы
Comment[ru]=Настройка сторонних и проприетарных драйверов
Name[tr]=ek sürücüler
GenericName[tr]=ek sürücüler
Comment[tr]=Üçüncü taraf ve tescilli sürücüleri yapılandırın
Name[zh_CN]=其他驱动程序
GenericName[zh_CN]=其他驱动程序
Comment[zh_CN]=配置第三方和专有驱动程序
Name[zh_TW]=其他驅動程序
GenericName[zh_TW]=其他驅動程序
Comment[zh_TW]=配置第三方和專有驅動程序
