[Desktop Entry]
Name=Printers
GenericName=Printers
X-GNOME-FullName=Printers
Comment=Configure printers
Exec=system-config-printer
Terminal=false
Type=Application
Icon=printer
StartupNotify=true
NotShowIn=KDE;GNOME;
X-Ubuntu-Gettext-Domain=system-config-printer
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;System;Printing;
X-GNOME-Settings-Panel=printing
X-Unity-Settings-Panel=printing
Keywords=Printer;Queue;Print;Paper;Ink;Toner;
X-Desktop-File-Install-Version=0.26

Name[ar]=طابعات
GenericName[ar]=طابعات
Comment[ar]=تكوين الطابعات
Name[bg]=Принтери
GenericName[bg]=Принтери
Comment[bg]=Конфигуриране на принтери
Name[ca]=Impressores
GenericName[ca]=Impressores
Comment[ca]=Configura impressores
Name[cs]=Tiskárny
GenericName[cs]=Tiskárny
Comment[cs]=Konfigurace tiskáren
Name[da]=Printere
GenericName[da]=Printere
Comment[da]=Konfigurer printere
Name[de]=Druckerinnen
GenericName[de]=Druckerinnen
Comment[de]=Drucker konfigurieren
Name[el]=Εκτυπωτές
GenericName[el]=Εκτυπωτές
Comment[el]=Διαμόρφωση εκτυπωτών
Name[es]=Impresoras
GenericName[es]=Impresoras
Comment[es]=Configurar impresoras
Name[et]=Printerid
GenericName[et]=Printerid
Comment[et]=Seadistage printerid
Name[fr]=Imprimantes
GenericName[fr]=Imprimantes
Comment[fr]=Configurer les imprimantes
Name[gl]=Impresoras
GenericName[gl]=Impresoras
Comment[gl]=Configurar impresoras
Name[he]=מדפסות
GenericName[he]=מדפסות
Comment[he]=הגדר מדפסות
Name[hr]=Pisači
GenericName[hr]=Pisači
Comment[hr]=Konfigurirajte pisače
Name[hu]=Nyomtatók
GenericName[hu]=Nyomtatók
Comment[hu]=Konfigurálja a nyomtatókat
Name[it]=Stampanti
GenericName[it]=Stampanti
Comment[it]=Configura le stampanti
Name[ja]=プリンター
GenericName[ja]=プリンター
Comment[ja]=プリンターを構成する
GenericName[lt]=Printeri
Name[lt]=Printeri
Comment[lt]=Konfigurējiet printerus
Name[nl]=printers
GenericName[nl]=printers
Comment[nl]=Printers configureren
GenericName[pl]=Drukarki
Name[pl]=Drukarki
Comment[pl]=Skonfiguruj drukarki
Name[pt]=Impressoras
GenericName[pt]=Impressoras
Comment[pt]=Configurar impressoras
Name[ru]=Принтеры
GenericName[ru]=Принтеры
Comment[ru]=Настройка принтеров
Name[tr]=yazıcılar
GenericName[tr]=yazıcılar
Comment[tr]=Yazıcıları yapılandırın
Name[zh_CN]=打印机
GenericName[zh_CN]=打印机
Comment[zh_CN]=配置打印机
Name[zh_TW]=打印機
GenericName[zh_TW]=打印機
Comment[zh_TW]=配置打印機
