[Desktop Entry]
Exec=xscreensaver-demo
Icon=xscreensaver
Terminal=false
Name=Screensaver
Comment=Change screensaver properties
Type=Application
Categories=Settings;DesktopSettings;Security;X-XFCE;
X-Ubuntu-Gettext-Domain=xscreensaver

Name[ar]=حافظة الشاشة
GenericName[ar]=حافظة الشاشة
Comment[ar]=تغيير خصائص شاشة التوقف
Name[bg]=Скрийнсейвър
GenericName[bg]=Скрийнсейвър
Comment[bg]=Промяна на свойствата на скрийнсейвъра
Name[ca]=Salvapantalles
GenericName[ca]=Salvapantalles
Comment[ca]=Canvia les propietats del salvapantalles
Name[cs]=Spořič obrazovky
GenericName[cs]=Spořič obrazovky
Comment[cs]=Změna vlastností spořiče obrazovky
Name[da]=Pauseskærm
GenericName[da]=Pauseskærm
Comment[da]=Skift egenskaber for pauseskærm
Name[de]=Bildschirmschoner
GenericName[de]=Bildschirmschoner
Comment[de]=Ändern Sie die Eigenschaften des Bildschirmschoners
Name[el]=Προφύλαξη οθόνης
GenericName[el]=Προφύλαξη οθόνης
Comment[el]=Αλλαγή ιδιοτήτων προφύλαξης οθόνης
Name[es]=Protector de pantalla
GenericName[es]=Protector de pantalla
Comment[es]=Cambiar las propiedades del salvapantallas
Name[et]=Ekraanisäästja
GenericName[et]=Ekraanisäästja
Comment[et]=Muutke ekraanisäästja omadusi
Name[fr]=Économiseur d'écran
GenericName[fr]=Économiseur d'écran
Comment[fr]=Modifier les propriétés de l'économiseur d'écran
Name[gl]=Salvapantallas
GenericName[gl]=Salvapantallas
Comment[gl]=Cambiar as propiedades do protector de pantalla
Name[he]=שומר מסך
GenericName[he]=שומר מסך
Comment[he]=שנה מאפייני שומר מסך
Name[hr]=Čuvar zaslona
GenericName[hr]=Čuvar zaslona
Comment[hr]=Promijenite svojstva čuvara zaslona
Name[hu]=Képernyőkímélő
GenericName[hu]=Képernyőkímélő
Comment[hu]=Képernyővédő tulajdonságainak módosítása
Name[it]=Salvaschermo
GenericName[it]=Salvaschermo
Comment[it]=Modifica le proprietà del salvaschermo
Name[ja]=スクリーンセーバー
GenericName[ja]=スクリーンセーバー
Comment[ja]=スクリーンセーバーのプロパティを変更する
GenericName[lt]=Ekrānsaudzētājs
Name[lt]=Ekrānsaudzētājs
Comment[lt]=Mainiet ekrānsaudzētāja rekvizītus
Name[nl]=Screensaver
GenericName[nl]=Screensaver
Comment[nl]=Eigenschappen van schermbeveiliging wijzigen
GenericName[pl]=Wygaszacz ekranu
Name[pl]=Wygaszacz ekranu
Comment[pl]=Zmień właściwości wygaszacza ekranu
Name[pt]=Protetor de tela
GenericName[pt]=Protetor de tela
Comment[pt]=Alterar propriedades do protetor de tela
Name[ru]=Экранная заставка
GenericName[ru]=Экранная заставка
Comment[ru]=Изменить свойства заставки
Name[tr]=Ekran koruyucusu
GenericName[tr]=Ekran koruyucusu
Comment[tr]=Ekran koruyucu özelliklerini değiştir
Name[zh_CN]=屏幕保护
GenericName[zh_CN]=屏幕保护
Comment[zh_CN]=更改屏幕保护程序属性
Name[zh_TW]=屏幕保護
GenericName[zh_TW]=屏幕保護
Comment[zh_TW]=更改屏幕保護程序屬性
